@{
    ViewBag.Title = "Base";
}
@section scripts{
<div class="class1" style="background-color:#9BCB3B;">
    <p>Hi</p>
</div>
<div class="class1" style="background-color:#1AB99E;">
    <p>Aditya</p>
</div>
<div id="userList" style="background-color:#F36F25;">
    <p>This is Working!</p>
</div>

<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<script src="~/signalr/js"></script>
<script src="~/Scripts/base.js"></script>}