@{
    ViewBag.Title = "Base";
}
@section scripts{

    <link rel="stylesheet" href="~/Content/BaseCss.css">

    <div class="w-100 row p-0 m-0" style="height: 100vh;">
        <div class="w-100 h-100 col bg-info p-0">
            <div id="userImage" class="heroImage">
                <img src="~/Models/Images/Heroes/bartcassidy.png" alt="Max-width 100%">
            </div>
            <table>
                <tr>
                    <td>HEALTH:</td>
                    <td id="heroHealth">0</td>
                </tr>
                <tr>
                    <td>ROLE:</td>
                    <td id="heroRole">K</td>
                </tr>
            </table>
            <div id="handDiv" class="tableCards"></div>
            <div id="tableDiv"></div>
        </div>


        <div class="h-100 col-4 bg-primary p-0">

        </div>


        <div class="container h-100 col bg-info p-0">
            <div id="enemyDiv">

            </div>
            <div id="enemyNames">
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalInvite" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="modalBody" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button id="invBtnYes" type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
                    <button id="invBtnNo" type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/my_scripts/hubClass.js"></script>
    <script src="~/Scripts/my_scripts/myImage.js"></script>
    <script src="~/Scripts/my_scripts/enemyClass.js"></script>
    <script src="~/Scripts/my_scripts/enemiesClass.js"></script>
    <script src="~/Scripts/my_scripts/cardsOnTableClass.js"></script>

    <script src="~/Scripts/my_scripts/clientHubFunctions.js"></script>
    <script src="~/Scripts/my_scripts/base.js"></script>


}