@{
    ViewBag.Title = "Base";
}


<link rel="stylesheet" href="~/Content/BaseCss.css">

<div class="w-100 row p-0 m-0" style="height: 100vh;">
    <div class="w-100 h-100 col bg-info p-0">
        <div class="centeredCard">
            <img id="userImage" src="~/Models/Images/Heroes/bartcassidy.png" alt="Max-width 100%">
        </div>
        <table>
            <tr>
                <td>NAME:</td>
                <td id="heroName">K</td>
            </tr>
            <tr>
                <td>HEALTH:</td>
                <td id="heroHealth">0</td>
            </tr>
            <tr>
                <td>ROLE:</td>
                <td id="heroRole">K</td>
            </tr>
        </table>
        <div id="handDiv"></div>
        <div id="tableDiv" class="tableCards"></div>
    </div>


    <div class="h-100 col-4 bg-primary p-0">
        <div id="pileDiv" class="centeredCard">
            <img id="pile" src="~/Models/Images/PlayCards/catbalou.png">
        </div>
        <table>
            <tr>
                <td>CARDS_IN_PILE:</td>
                <td id="pileAmount">0</td>
            </tr>
            <tr>
                <td>CARDS_IN_DECK:</td>
                <td id="deckAmount">0</td>
            </tr>
        </table>
        <div id="messages">MESSAGES <br/></div>
    </div>


    <div class="container h-100 col bg-info p-0">
        <div id="enemyDiv">
        </div>
        <div id="enemyNames">
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/my_scripts/cardEventsFunctions.js"></script>
    <script src="~/Scripts/my_scripts/hubClass.js"></script>
    <script src="~/Scripts/my_scripts/myImage.js"></script>
    <script src="~/Scripts/my_scripts/enemyClass.js"></script>
    <script src="~/Scripts/my_scripts/enemiesClass.js"></script>
    <script src="~/Scripts/my_scripts/cardsOnTableClass.js"></script>
    <script src="~/Scripts/my_scripts/modalMasterClass.js"></script>
    <script src="~/Scripts/my_scripts/base.js"></script>
    <script src="~/Scripts/my_scripts/clientHubFunctions.js"></script>
    <script src="~/Scripts/my_scripts/connectionStart.js"></script>

}
