@{
    ViewBag.Title = "Base";
}
@section scripts{

    <div class=" fixed-top w-100 align-top" style="height: 100vh;">
        <div class="row h-100 w-100 align-items-center">
            <div class="w-100 h-100 text-white col bg-info">
                <div id="nameHold" class="d-flex justify-content-center">name:</div>
                <div class="w-100 d-flex justify-content-center">
                    <img id="heroPhoto" class="w-100 mx-auto" src="~/Content/Images/heroes/bartcassidy.png" alt="Max-width 100%">
                </div>
                <div href="heroLives">lives:</div>
            </div>
            <div class="container h-100 text-white col-6 bg-primary">
            </div>
            <div class="container h-100 text-white col bg-info">
                <div id="loggedList" class="list-group">
                    <div class="list-group-item list-group-item-secondary">Logged users:</div>
                </div>
                <button id="gameStarter" class="w-100 list-group-item bg-danger">
                    Start game
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="modalBody"class="modal-body">
                </div>
                <div class="modal-footer">
                    <button id="invBtnYes" type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
                    <button id="invBtnNo" type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/base.js"></script>
}