@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    <div id="test_text"></div>
    <form id="inTex" action="javascript:void(0);">
        <div>
            <input id="message" type="text">
            <input type="submit">
        </div>
    </form>
    <span></span>
    <br />
    <input padding type="button" value="give me time" id="button-test" class="btn-danger" />
    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/MyJavaS.js">
    </script>
}
