
@{
    ViewBag.Title = "LogIn";
}
@section scripts{
    <div id="message"> </div>
    <form id="login" action="javascript:void(0);">
        <input id="username" type="text">
        <input type="submit">
    </form>
    <br />

    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/login.js"></script>}